body{
    margin:0;
    padding:0;
}

.header{
    background-image:url('images/bg-hero-mobile.svg');
    background-position: contain;
    background-color: hsl(193, 100%, 96%);
}
navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:50%;
    padding:20px 0;
}
navbar>img{
    width:12vw;
}
.btn1{
    width:10vw;
    height:2.5vw;
    border:none;
    box-shadow:1px 1px 0 1px rgba(0, 0, 0,0.3);
    border-radius:15px;
    font-size:1vw;
}

.div2>img,.div3>img,.div4>img{
    height:10%;
}

.div1,.div2,.div3,.div4{
    display: flex;
    border-radius:50px;
}

.div1>*,.div2>*,.div3>*,.div4>*{
    width: 50%;
}
.div11>*,.div21>*,.di31>*,.div41>*{
    min-width:300px;
    max-width:380px;
}
.div11,.div21,.div31,.div41{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 15px;
}
.container>*{
    width: 80%;
    height:5%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding-top: 100px;
}
.div2,.div3,.div4{
    /* box-shadow: 0 1px 5px rgb(0 0 0 / 0.2); */
    box-shadow: 1px 1px 5px rgba(243, 239, 239, 0.8),
                -1px -1px 5px rgba(119, 117, 117, 0.8);
}
.div3{
    flex-direction:row-reverse;
}
.div5{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:50%;
    padding-bottom: 25px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    position:relative;
    top:65px;
    z-index:1;
    background-color: white;
}
.btn2{
    width:35%;
    height:55px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border:none;
    border-radius: 50px;
}
footer{
    display: flex;
    color: white;
    background-color:  hsl(192, 100%, 9%);
    justify-content: space-around;
    align-items: center;
    padding:100px 0;
}
.foot1>img{
    filter:brightness(0) invert(1);
}
.foot1>*{
    max-width:250px;
    min-width:250px;
}
.foot4>*{
    border:1px solid white;
    padding:5px;
    
    margin: 5px;
    border-radius: 50%;
}
footer>*>*{
    cursor: pointer;
}

button{
    cursor: pointer;
}

.btn0{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border:none;
    border-radius:24px;
    height: 40px;
}